.change-car {
    button {
        border: 0;
        height: 3rem;
        transition: all ease 0.5s;
        @media screen and (min-width: $desktop) {
            height: 2rem;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}
.body{
    &-products {
        img {
            max-width: 90px;
        }
    }
}